header{
    position: fixed; /* La barre de navigation est fixée */
    top: 0; /* La fixer en haut de la page */
    width: 100%; /* Assurer que la nav prend toute la largeur */
    z-index: 1000; /* Pour s'assurer qu'elle reste au-dessus des autres éléments */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optionnel : Ajouter un peu d'ombre */
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: rgb(29, 29, 30);
}

header img{
    max-width: 50px;
    display: flex;
}

header ul{
    display: flex;
    gap: 3em;
    font-family: "Courier New", Courier, monospace;
    color: white;
    font-weight: bold;
    font-size: larger;
}

.section_menu{
    margin-right: 50px;
}

.linkedin{
    margin-right: 800px;
}

.efrei{
    margin-left: 20px;
}
