header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: rgb(29, 29, 30);
}

header img{
    max-width: 50px;
    display: flex;
}

header ul{
    display: flex;
    gap: 3em;
    font-family: "Courier New", Courier, monospace;
    color: white;
    font-weight: bold;
    font-size: larger;
}

.section_menu{
    margin-right: 50px;
}

.linkedin{
    margin-left: 150px;
}

