@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.main_section div{
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 2em;
    align-items: flex-start; /* Aligne les éléments à gauche */
}

.main_section{
    display: flex;
    justify-content:space-evenly;
    background-image: url("bckg.jpg");
    background-position: center;
    min-height: 100vh; /* Occupe toute la hauteur de la page */
    background-size: cover;
    gap: 1em;
    font-family: 'Poppins', sans-serif;

}

.main_section h1 {
    color: white;
    font-size: 2em; /* Augmente la taille du titre */
    font-weight: bold;
    margin-left: 0.5em;
}

.main_section p {
    max-width: 400px;
    padding: 1em;
    backdrop-filter: blur(3px);
    border-radius: 4px;
    color: white;
}

.main_section button {
    padding: 1em;
    margin-left: 1em;
    margin-top: 1em;
    border: none;
    background-color: rgba(108, 108, 108, 0.568);
    color: white;
    cursor: pointer;
}

.main_section img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1); /* Ombre légère */
    margin-left: 2em; /* Espace entre texte et image */
    margin-top: 150px;
    margin-right: 100px;
}

.contenu_main{
    margin-top: 140px;
}